In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('vehicles_messy.csv', low_memory = False)

In [5]:
df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [6]:
# .describe to see data summary on count (amount of rows per column), mean, standard deviation, min, 25%, 50%, 75%, max

df.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,37843.000000,37843.000000,37843.0,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,...,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000
mean,17.532506,0.216169,0.0,0.023531,17.941389,4.042737,0.520149,0.327163,0.000406,0.184790,...,22.587229,0.652380,33.619221,0.933845,2000.064398,-2658.999022,0.004360,0.069313,0.068203,0.068573
std,4.575950,1.141527,0.0,0.427647,6.660360,9.645820,3.837874,3.542596,0.039918,2.904558,...,9.350163,5.284547,10.048326,6.059456,10.390588,2553.098329,0.142776,1.966806,1.871986,1.913647
min,0.060000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-22250.000000,0.000000,0.000000,0.000000,0.000000
25%,14.330870,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.000000,0.000000,27.100000,0.000000,1990.000000,-4250.000000,0.000000,0.000000,0.000000,0.000000
50%,17.347895,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.000000,0.000000,33.000000,0.000000,2001.000000,-2500.000000,0.000000,0.000000,0.000000,0.000000
75%,20.600625,0.000000,0.0,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,25.139300,0.000000,38.109600,0.000000,2009.000000,-750.000000,0.000000,0.000000,0.000000,0.000000
max,47.087143,18.311667,0.0,12.000000,138.000000,138.304000,127.000000,127.093000,5.350000,122.000000,...,197.577100,181.560900,159.100000,152.187800,2017.000000,4000.000000,7.000000,97.000000,79.000000,88.000000

# 1. Missing Values - aka np.nan s

In [12]:
null_cols = df.isnull().sum()

In [14]:
# to display how many nulls each column has

null_cols[null_cols > 0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [17]:
# show me the rows of the cylinder column tht are NaN

df[["cylinders"]][df["cylinders"].isnull()].head()

      cylinders
7138        NaN
7139        NaN
8143        NaN
8144        NaN
8146        NaN

In [18]:
# percentages of missing values in data set per column

null_cols[null_cols > 0]/len(df)

cylinders     0.003250
displ         0.003171
drive         0.031419
eng_dscr      0.407024
trany         0.000291
guzzler       0.939725
trans_dscr    0.602384
tCharger      0.862960
sCharger      0.982401
atvType       0.918823
fuelType2     0.962794
rangeA        0.962926
evMotor       0.985149
mfrCode       0.814365
c240Dscr      0.999022
c240bDscr     0.999049
startStop     0.837804
dtype: float64

In [23]:
# after really thorough analysis, I concluded that columns with more than 30% NaNs are useless and should be dropped

# get a list of colums, where relative frequency (%) of NaNs > 30%:

null_perc = null_cols[null_cols > 0] /len(df)

to_drop = null_perc[null_perc > 0.3].index

to_drop

Index(['eng_dscr', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType',
       'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr',
       'startStop'],
      dtype='object')

In [24]:
df = df.drop(to_drop, axis = 1)

In [25]:
df.isnull().sum()[(df.isnull().sum())>0]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

In [31]:
relevant_columns = ["year","make","model","trany","drive","fuelType","cylinders","displ"]
df[relevant_columns][df["displ"].isnull()]

,year,make,model,trany,drive,fuelType,cylinders,displ
7138,2000,Nissan,Altra EV,NaN,NaN,Electricity,NaN,NaN
7139,2000,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8143,2001,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8144,2001,Ford,Th!nk,NaN,NaN,Electricity,NaN,NaN
8146,2001,Ford,Explorer USPS Electric,NaN,2-Wheel Drive,Electricity,NaN,NaN
...,...,...,...,...,...,...,...,...
30969,2017,Kia,Soul Electric,Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
30972,2016,Tesla,Model S (60 kW-hr battery pack),Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
30973,2016,Tesla,Model S AWD - 60D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
30974,2016,Tesla,Model S AWD - P100D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
30975,2016,Tesla,Model X AWD - 60D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN

In [33]:
# check if all fuelType (column) are Electricity (information in rows of column)

df["cylinders"][df["fuelType"] == "Electricity"].count()

0

In [35]:
df["fuelType"][df["cylinders"].isnull()].value_counts()

Electricity    120
Regular          3
Name: fuelType, dtype: int64

In [38]:
df[["displ", "cylinders"]] = df[["displ", "cylinders"]].fillna(0)

In [39]:
df[["displ", "cylinders"]]

       displ  cylinders
0        2.0        4.0
1        4.9       12.0
2        2.2        4.0
3        5.2        8.0
4        2.2        4.0
...      ...        ...
37838    2.2        4.0
37839    2.2        4.0
37840    2.2        4.0
37841    2.2        4.0
37842    2.2        4.0

[37843 rows x 2 columns]

In [41]:
# last validation check for rows where cylinder = 0 and displ != 0

df[(df["cylinders"] == 0) & (df["displ"] != 0)][relevant_columns]

,year,make,model,trany,drive,fuelType,cylinders,displ
21506,1986,Mazda,RX-7,Manual 5-spd,Rear-Wheel Drive,Regular,0.0,1.3

In [44]:
# loc stands for location

df.loc[(df["cylinders"] == 0) & (df["displ"] != 0), "cylinders"]=4

# 2. Information contained in the columns
(Cardinality of columns)

In [45]:
df["barrels08"].head()

0    15.695714
1    29.964545
2    12.207778
3    29.964545
4    17.347895
Name: barrels08, dtype: float64

In [46]:
min(df["barrels08"])

0.06000000000000001

In [47]:
# every 90% of the cars are below this point: 23.54...

np.percentile(df["barrels08"], 90)

23.543571428571425

In [48]:
def detect_low_variance(df, column, perc):
    min_value = min(df[column])
    perc_value = np.percentile(df[column], perc)
    return min_value == perc_value

In [49]:
detect_low_variance(df, "barrels08", 90)

False

In [53]:
# only give me the columns with numeric data type
# inlude takes a list, therefore []
# .columns to get a list only of column names

df.select_dtypes(include=[np.number]).columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'engId', 'feScore', 'fuelCost08', 'fuelCostA08', 'ghgScore',
       'ghgScoreA', 'highway08', 'highway08U', 'highwayA08', 'highwayA08U',
       'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
       'pv2', 'pv4', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy',
       'rangeHwyA', 'UCity', 'UCityA', 'UHighway', 'UHighwayA', 'year',
       'youSaveSpend', 'charge240b', 'phevCity', 'phevHwy', 'phevComb'],
      dtype='object')

In [55]:
# function to display columns with low variance in a list.
# percentile (90) can be changed
    
low_variance = [col for col in df.select_dtypes(include=[np.number]).columns if detect_low_variance(df, col, 90)]

In [57]:
df = df.drop(low_variance, axis=1)

# 3. Outliers
Using IQR (Interquartile Range)

In [60]:
# transpose to change columns to rows "Transponieren"

df_desc = df.describe().transpose()

In [62]:
# assign to create new column

df_desc = df_desc.assign(IQR=df_desc["75%"]-df_desc["25%"])

In [63]:
df_desc

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000,0.000000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000,0.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429,167.437500
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000,6.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100,0.000000
cylinders,37843.0,5.719446,1.778959,0.00,4.00000,6.000000,6.000000,16.000000,2.000000
displ,37843.0,3.307658,1.371982,0.00,2.20000,3.000000,4.300000,8.400000,2.100000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000,4505.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000,700.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000,7.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000,0.000000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000,0.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000,0.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000,19109.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000,0.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000,13.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000,0.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000,91.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100,7.139300
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000,11.009600
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000,19.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000,3500.000000

In [64]:
df_desc.index

Index(['barrels08', 'city08', 'city08U', 'co2', 'co2TailpipeGpm', 'comb08',
       'comb08U', 'cylinders', 'displ', 'engId', 'feScore', 'fuelCost08',
       'ghgScore', 'highway08', 'highway08U', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
       'pv2', 'pv4', 'UCity', 'UHighway', 'year', 'youSaveSpend'],
      dtype='object')

In [67]:
# create empty data frame with already existing columns of Data Set used before

outliers = pd.DataFrame(columns=df.columns)

# iterating over index:

for col in df_desc.index:
    iqr = df_desc.loc[col, "IQR"]
    cutoff = iqr * 6
    lower_threshold = df_desc.loc[col, "25%"] - cutoff
    upper_threshold = df_desc.loc[col, "75%"] + cutoff
    results = df[(df[col]< lower_threshold) | (df[col] > upper_threshold)].copy()
    results = results.assign(outlier=col)
    outliers = pd.concat([outliers, results], ignore_index = True, sort = False)

In [69]:
# groupby does not sort data

outliers.groupby("outlier")["outlier"].count()

outlier
UCity          141
UHighway        91
city08         130
city08U       7299
co2           5854
comb08         106
comb08U       7299
engId         4893
feScore       5815
ghgScore      5815
highway08       92
highway08U    7299
hlv           4615
hpv           4614
lv2           6250
pv2           6239
Name: outlier, dtype: int64

In [70]:
# value_counts sorts data desc by default value

outliers["outlier"].value_counts()

highway08U    7299
comb08U       7299
city08U       7299
lv2           6250
pv2           6239
co2           5854
ghgScore      5815
feScore       5815
engId         4893
hlv           4615
hpv           4614
UCity          141
city08         130
comb08         106
highway08       92
UHighway        91
Name: outlier, dtype: int64