# Job Board Scraping Lab

In this lab you will first see a minimal but fully functional code snippet to scrape the LinkedIn Job Search webpage. You will then work on top of the example code and complete several chanllenges.

### Some Resources 

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

In [1]:
# Import the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search(keywords):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Assemble the full url with parameters
    scrape_url = ''.join([BASE_URL, 'keywords=', keywords])

    # Create a request to get the data from the server 
    page = requests.get(scrape_url)
    soup = BeautifulSoup(page.text, 'html.parser')

    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    for card in soup.select("div.result-card__contents"):
        title = card.findChild("h3", recursive=False)
        company = card.findChild("h4", recursive=False)
        location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
        titles.append(title.string)
        companies.append(company.string)
        locations.append(location.string)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data

In [2]:
# Example to call the function

results = scrape_linkedin_job_search('data%20analysis')
results

,Title,Company,Location
0,Master Data Management Architect /Manager,"Synergy Business Consulting, Inc.","Teaneck, New Jersey, United States"
1,SEO Manager,Onward Select,"Atlanta, Georgia"
2,Data Governance Analyst,Momentum Consulting Corporation,"Miami, Florida"
3,Data Systems Analyst,Cypress HCM,"San Francisco, California"
4,Data Analyst w/ AWS,Digipulse Technologies Inc.,"Greensboro, North Carolina, United States"
5,Rebate & Data Analyst (Contract),SolomonEdwards,"Philadelphia, Pennsylvania"
6,Tibco Spotfire Data Analyst,GSquared Group,"Atlanta, Georgia"
7,Data Modeler,Confiance Tech Solutions,Greater Atlanta Area
8,HEDIS Quality Analyst,"HealthTECH Resources, Inc.","New York, New York"
9,Senior Financial Analyst,Talent 360 Solutions,Greater Atlanta Area
10,Manager of Business Intelligence,"Beyond Finance, Inc.","Houston, Texas"
11,"Manager, Provider Network Development (Healthc...",Remedy Partners,"Norwalk, Connecticut, United States"
12,IFRS9/CECL Implementation,New York Technology Partners,"New York, New York, United States"
13,Medical Director Pharmacovigilance,"Integrated Resources, Inc ( IRI )","Cambridge, Massachusetts"
14,Sr. Internal Auditor,Interface,"1280 W Peachtree St NW, Atlanta, Georgia 30309"
15,Workday Consultant,Amiseq Inc.,"Frisco, Texas, United States"
16,Vice President - Counter Party Credit,"Madison-Davis, LLC","New York, New York, United States"
17,Data Analyst,WorkFusion,"New York City, NY, US"
18,Senior Manager Data Analysis,Jobs @ TheJobNetwork,"Deerfield, IL, US"
19,Data Analyst,ipsy,"San Mateo, CA, US"
20,Data Analyst,Headspace Inc.,"Santa Monica, CA, US"
21,Master Data Analyst,Larsen & Toubro Infotech Ltd (LTI),"San Jose, California, United States"
22,Senior Data Analyst - Finance & Platform Analy...,Twitch,"San Francisco, CA, US"
23,"Procurement Specialist â€“ MRO, Data Analysis",Blue Signal Search,"Decatur, IL, US"
24,Operations Data Analyst & Program Manager - 74307,AMD,"Santa Clara, CA, US"

## Challenge 1

The first challenge for you is to update the `scrape_linkedin_job_search` function by adding a new parameter called `num_pages`. This will allow you to search more than 25 jobs with this function. Suggested steps:

1. Go to https://www.linkedin.com/jobs/search/?keywords=data%20analysis in your browser.
1. Scroll down the left panel and click the page 2 link. Look at how the URL changes and identify the page offset parameter.
1. Add `num_pages` as a new param to the `scrape_linkedin_job_search` function. Update the function code so that it uses a "for" loop to retrieve several pages of search results.
1. Test your new function by scraping 5 pages of the search results.

Hint: Prepare for the case where there are less than 5 pages of search results. Your function should be robust enough to **not** trigger errors. Simply skip making additional searches and return all results if the search already reaches the end.

In [20]:
# your code here


#https://www.linkedin.com/jobs/search/?keywords=data%20analysis
#https://www.linkedin.com/jobs/search/?keywords=data%20analysis&start=25

# Import the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search_1(keywords, num_pages):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)
    
    for page in range(num_pages):
        # Assemble the full url with parameters
        scrape_url = ''.join([BASE_URL, 'keywords=', keywords, '&start=', str(page*25)])

        # Create a request to get the data from the server 
        page = requests.get(scrape_url)
        soup = BeautifulSoup(page.text, 'html.parser')

        # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
        # Then in each job card, extract the job title, company, and location data.
        titles = []
        companies = []
        locations = []
        for card in soup.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)

        # Inject job titles, companies, and locations into the empty dataframe
        zipped = zip(titles, companies, locations)
        for z in list(zipped):
            data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)

    # Return dataframe
    return data

In [21]:
results = scrape_linkedin_job_search_1('data%20analysis', 4)
results

,Title,Company,Location
0,Sr. Data Analyst â€“ Predictive & Inferential An...,Peyton Resource Group,"Arlington, Texas"
1,Senior Manager of Data Analysis,Philips,"Boston, MA, US"
2,"Software Engineer, Data Models & Analysis",Improbable,"Washington, D.C., DC, US"
3,Data Analysis Manager,Capital One,"McLean, VA, US"
4,BUSINESS ANALYST-Marketing and Data Analysis,ASHLIN Management Group,"20721, Bowie, Maryland, United States"
...,...,...,...
95,Associate / Business Analyst (Consulting Data ...,"Foresight Associates, LLC",Greater Minneapolis-St. Paul Area
96,Intern: Data Analysis/Process Improvement Prog...,Juniper Networks,"Sunnyvale, CA, US"
97,"Manager, Reporting and Data Analysis",The Madison Square Garden Company,Greater New York City Area
98,Data Analyst,Viper Staffing Services L.L.C.,"Glendale, California, United States"
99,Sr. Bioinformatics Scientist,The EAC Agency,"Fremont, California, United States"

## Challenge 2

Further improve your function so that it can search jobs in a specific country. Add the 3rd param to your function called `country`. The steps are identical to those in Challange 1.

In [29]:
# your code here

# Import the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search_2(keywords, num_pages, country):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)
    
    for page in range(num_pages):
        # Assemble the full url with parameters
        scrape_url = ''.join([BASE_URL, 'keywords=', keywords, '&start=', str(page*25), '&location=', country])

        # Create a request to get the data from the server 
        page = requests.get(scrape_url)
        soup = BeautifulSoup(page.text, 'html.parser')

        # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
        # Then in each job card, extract the job title, company, and location data.
        titles = []
        companies = []
        locations = []
        for card in soup.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)

        # Inject job titles, companies, and locations into the empty dataframe
        zipped = zip(titles, companies, locations)
        for z in list(zipped):
            data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)

    # Return dataframe
    return data

In [32]:
results = scrape_linkedin_job_search_2('data%20analysis', 2, 'Frankreich')
results

,Title,Company,Location
0,Senior Data Analyst,JLL,"Paris Area, France"
1,Data and Reporting Analyst,Toptal,"DÃ©partement du Nord, FR"
2,Software Engineer for Web Data Analysis,ESRF - The European Synchrotron,"Grenoble Area, France"
3,"Data Scientist Internship, France",Airbnb,"Paris, FR"
4,Data Analyst Intern,Dashlane,"Paris, FR"
5,Engineering Manager - Data Platform Team - Ful...,Heetch,"Paris, FR"
6,Health Data Marketing Manager - Boulogne/Londo...,Cegedim,"Boulogne-Billancourt, FR"
7,Data Scientist,Vulog,"Nice Area, France"
8,Data Engineer (M/F),Servier,"Croissy-sur-Seine, FR"
9,Data Analyst - Internal Analytics Platform,Datadog,"Paris, FR"
10,Data Analyst - Owlient,Ubisoft,"Paris Area, France"
11,Danone Data Platforms Analyst H/F,Danone,"Rueil-Malmaison, FR"
12,Data Quality & Governance Manager H/F,TripAdvisor,"Paris, FR"
13,Marketing Data Engineer / Analyst,Richemont,"Paris, FR"
14,Machine Learning Engineer - transfer learning ...,European Recruitment,"Paris Area, France"
15,Data Warehouse Manager / Business Intelligence...,ArcelorMittal,"Paris Area, France"
16,Internship - Data Scientist,Louis Dreyfus Company,"Lyon, Auvergne-Rhone-Alpes, France"
17,Data Visualisation Designer,OECD - OCDE,"Paris Area, France"
18,Data Analyst (M/F),beIN MEDIA GROUP,"Boulogne-Billancourt, ÃŽle-de-France, France"
19,Data Master,Rexel,"Paris 17, ÃŽle-de-France, France"
20,Junior Data Analyst,Givaudan,"Argenteuil, FR"
21,Business Data Steward,Total,"Pau, FR"
22,Data Analyst- Marketing,Virtuo,"Paris, ÃŽle-de-France, France"
23,Data Analyst,Meero,"Paris, FR"
24,Growth Data Analyst,Getaround,"Paris, FR"
25,Senior Data Analyst,JLL,"Paris Area, France"
26,Senior Data Analyst,komoot,"Paris, Ile-de-France, France"
27,Data and Reporting Analyst,Toptal,"DÃ©partement du Nord, FR"
28,Data Analyst - Internal Analytics Platform,Datadog,"Paris, FR"
29,Software Engineer for Web Data Analysis,ESRF - The European Synchrotron,"Grenoble Area, France"
30,Junior Data Analyst,Givaudan,"Argenteuil, FR"
31,Data Analyst,Dashlane,"Paris, FR"
32,Data Scientist,Vulog,"Nice Area, France"
33,Product Data Analyst Lead,Criteo,"Paris, FR"
34,Human Resources Data Analyst,CWT,"Boulogne-Billancourt, FR"
35,Data Analyst - Owlient,Ubisoft,"Paris Area, France"
36,Engineering Manager - Data Platform Team - Ful...,Heetch,"Paris, FR"
37,Master Data Analyst,MAETRICS,"Montpellier Area, France"
38,Machine Learning Engineer - transfer learning ...,European Recruitment,"Paris Area, France"
39,Data Engineer (M/F),Servier,"Croissy-sur-Seine, FR"
40,Data Visualisation Designer,OECD - OCDE,"Paris Area, France"
41,Internship - Data Scientist,Louis Dreyfus Company,"Lyon, Auvergne-Rhone-Alpes, France"
42,Sales Operations Analyst,SUEZ,"Courbevoie, FR"
43,Marketing Data Engineer / Analyst,Richemont,"Paris, FR"
44,Senior Technical Consultant for Data Analytics,MathWorks,"Meudon, FR"
45,Data Master,Rexel,"Paris 17, ÃŽle-de-France, France"
46,Danone Data Platforms Analyst H/F,Danone,"Rueil-Malmaison, FR"
47,Data Analyst- Marketing,Virtuo,"Paris, ÃŽle-de-France, France"
48,Credit Analyst - International Public Finance ...,Fitch Ratings,"Paris, FR"
49,Business Data Steward,Total,"Pau, FR"

## Challenge 3

Add the 4th param called `num_days` to your function to allow it to search jobs posted in the past X days. Note that in the LinkedIn job search the searched timespan is specified with the following param:

```
f_TPR=r259200
```

The number part in the param value is the number of seconds. 259,200 seconds equal to 3 days. You need to convert `num_days` to number of seconds and supply that info to LinkedIn job search.

In [34]:
# your code here

#f_TPR=r86400

# Import the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search_3(keywords, num_pages, country, num_days):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)
    
    num_seconds = num_days * 86400
    
    for page in range(num_pages):
        # Assemble the full url with parameters
        scrape_url = ''.join([BASE_URL, 'f_TPR=r', str(num_seconds), 'keywords=', keywords, '&start=', str(page*25), '&location=', country])

        # Create a request to get the data from the server 
        page = requests.get(scrape_url)
        soup = BeautifulSoup(page.text, 'html.parser')

        # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
        # Then in each job card, extract the job title, company, and location data.
        titles = []
        companies = []
        locations = []
        for card in soup.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)

        # Inject job titles, companies, and locations into the empty dataframe
        zipped = zip(titles, companies, locations)
        for z in list(zipped):
            data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)

    # Return dataframe
    return data

In [35]:
results = scrape_linkedin_job_search_3('data%20analysis', 2, 'Frankreich', 3)
results

,Title,Company,Location
0,Consultant fonctionnel,HELYAD,NÃ®mes et pÃ©riphÃ©rie
1,Agent de planification,PRIVACIA RECYCLAGE,"Noisy-le-Sec, ÃŽle-de-France, France"
2,Consultant Ressources Humaines,Omnicell,"Vendenheim, Grand Est, France"
3,Technicien informatique,Peninsula Paris,"75116, Paris, Ile-de-France, France"
4,Employer Brand and Events Manager,Mirakl,"Paris, Ile-de-France, France"
5,Project Manager,Indexel,"RÃ©gion de Paris, France"
6,E-Commerce Manager - StratÃ©gie et KAM - Multin...,IHR Consultancy,"Paris 01, ÃŽle-de-France, France"
7,BÃ©nÃ©volat : Aide Ã activitÃ© initiation multisp...,Tous BÃ©nÃ©voles,"Dourdan, FR"
8,Juriste droit des affaires 3/10 ans,OXYGEN+,"Paris Area, France"
9,CONSULTANT SOCIAL MEDIA (H/F) CDD 3 mois,BCW France,"Paris Area, France"
10,Internal Communication Officer,International Chamber of Commerce,Paris
11,ChargÃ© de logisitique Junior (F/H),GreenYellow,"Paris 15, ÃŽle-de-France, France"
12,CDI - Lead UX (H/F),Aquent France,"RÃ©gion de Paris, France"
13,OFFICIERS MARINE MARCHANDE H/F,BOURBON,"Marseille, FR"
14,responsable d'affaires activitÃ© industrielle,VINCI Energies,"Fos-sur-Mer, Provence-Alpes-CÃ´te dâ€™Azur, France"
15,Consultant en dÃ©mÃ©nagement et mobilitÃ© interna...,Crown World Mobility,"Poissy, ÃŽle-de-France, France"
16,Pizzaiolo (H/F),la maison,"Lyon, FR"
17,TECHNICIEN EN DIAGNOSTIC DU BÃ‚TIMENT - CONTRAT...,Apave,"Paris, FR"
18,Aide soignant F/H H/F,AILE MEDICALE,"Paris, FR"
19,Magasinier PiÃ¨ces de Rechange Automobile (f/h),GUEUDET,"Ã‰vreux, FR"
20,Assistant chargÃ© / Assistante chargÃ©e d'affair...,Axxis Ressources,"Lieusaint, FR"
21,Responsable de dÃ©veloppement my digital school...,AFTEC,"Caen, FR"
22,Responsable univers h/f,Boulanger,"Dijon, FR"
23,Commis de restauration room service,Vendome Group,"Paris, FR"
24,IngÃ©nieur Test Logiciel,2s2i Groupe,"Montpellier, FR"
25,Consultant fonctionnel,HELYAD,NÃ®mes et pÃ©riphÃ©rie
26,ChargÃ©(e) d'Ã©tudes merchandising F/H,SYSTEME U,"Carquefou, Pays de la Loire, France"
27,Consultant Ressources Humaines,Omnicell,"Vendenheim, Grand Est, France"
28,Technicien informatique,Peninsula Paris,"75116, Paris, Ile-de-France, France"
29,Agent de planification,PRIVACIA RECYCLAGE,"Noisy-le-Sec, ÃŽle-de-France, France"
30,Employer Brand and Events Manager,Mirakl,"Paris, Ile-de-France, France"
31,Project Manager,Indexel,"RÃ©gion de Paris, France"
32,E-Commerce Manager - StratÃ©gie et KAM - Multin...,IHR Consultancy,"Paris 01, ÃŽle-de-France, France"
33,Juriste droit des affaires 3/10 ans,OXYGEN+,"Paris Area, France"
34,CONSULTANT SOCIAL MEDIA (H/F) CDD 3 mois,BCW France,"Paris Area, France"
35,Conseiller Commercial MarchÃ© des Particuliers ...,Groupama d'Oc,"Florac, Languedoc-Roussillon, France"
36,DÃ©monstrateur H/F - Tommy Hilfiger - Printemps...,Tommy Hilfiger,"VÃ©lizy-Villacoublay, ÃŽle-de-France, France"
37,Vendeur automobile,Audexia SAS,"Saint-Doulchard, Centre-Val de Loire, France"
38,Consultant(e) communication expÃ©rimentÃ©(e),D-Impulse,"Rouen, Haute-Normandie, France"
39,Directeur Clients Nationaux GMS,Haudecoeur,"Paris, Ile-de-France, France"
40,Chef d'Atelier SAV,NOVAERA SERVICES,"RÃ©gion de Toulouse, France"
41,ContrÃ´leur de Gestion Junior,ACTING,"Aix-en-Provence, Provence-Alpes-CÃ´te dâ€™Azur, F..."
42,ChargÃ© de logisitique Junior (F/H),GreenYellow,"Paris 15, ÃŽle-de-France, France"
43,KERING EYEWEAR - Trade Marketing Intern,Kering Eyewear,"Paris Area, France"
44,Regulatory Affairs Specialist,MAETRICS,"Lyon Area, France"
45,Compensation and Benefits Manager H/F,Publicis Sapient,"RÃ©gion de Paris, France"
46,Business Developer - Industrie Pharmaceutique,AIXIAL,"Boulogne-Billancourt, ÃŽle-de-France, France"
47,Contract Manager,Cellnex Telecom,"SÃ¨vres, ÃŽle-de-France, France"
48,CDI - Lead UX (H/F),Aquent France,"RÃ©gion de Paris, France"
49,Consultant dÃ©cisionnel Business Intelligence c...,DeciVision,"Lyon 01, RhÃ´ne-Alpes, France"

## Bonus Challenge

Allow your function to also retrieve the "Seniority Level" of each job searched. Note that the Seniority Level info is not in the initial search results. You need to make a separate search request for each job card based on the `currentJobId` value which you can extract from the job card HTML.

After you obtain the Seniority Level info, update the function and add it to a new column of the returned dataframe.

In [ ]:
# your code here