## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1=random.sample(range(100),80)
print(sample_list_1)
print(len(sample_list_1))

[16, 92, 81, 93, 23, 59, 27, 66, 90, 6, 86, 82, 55, 52, 45, 9, 21, 72, 60, 37, 7, 78, 53, 12, 5, 38, 58, 22, 96, 95, 1, 36, 34, 71, 88, 30, 63, 0, 74, 43, 54, 84, 13, 79, 24, 28, 39, 80, 14, 98, 35, 33, 67, 11, 73, 49, 47, 91, 99, 97, 42, 56, 31, 8, 85, 64, 62, 10, 29, 89, 2, 19, 4, 32, 69, 68, 20, 26, 44, 83]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [17]:
# Your code here
set1=set(sample_list_1)
print(set1)
print(len(set1))

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42, 43, 44, 45, 47, 49, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
sample_list_2=[]

for i in range(80):
    sample_list_2.append(random.randrange(100))

print(sample_list_2)
print(len(sample_list_2))

[34, 72, 27, 55, 27, 89, 41, 52, 66, 59, 92, 91, 91, 90, 76, 19, 5, 94, 77, 94, 57, 86, 89, 39, 88, 26, 76, 91, 97, 99, 52, 65, 58, 35, 27, 85, 95, 94, 57, 91, 0, 78, 43, 13, 38, 62, 11, 52, 55, 78, 12, 45, 23, 10, 84, 42, 89, 34, 85, 22, 79, 25, 74, 67, 90, 66, 92, 68, 30, 43, 6, 85, 28, 18, 88, 2, 94, 24, 97, 51]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2=set(sample_list_2)

print(len(set2))

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here

set3=[]

for i in set1:
    if i not in set2:
        set3.append(i)
        
set3=set(set3)
        
print(set3)

{1, 4, 7, 8, 9, 14, 16, 20, 21, 29, 31, 32, 33, 36, 37, 44, 47, 49, 53, 54, 56, 60, 63, 64, 69, 71, 73, 80, 81, 82, 83, 93, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here

set4=[]

for i in set2:
    if i not in set1:
        set4.append(i)
        
set4=set(set4)
        
print(set4)

{65, 41, 76, 77, 18, 51, 25, 94, 57}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here

set5=[]

for i in set1:
    if i in set2:
        set5.append(i)

set5=set(set5)
        
print(set5)

{0, 2, 5, 6, 10, 11, 12, 13, 19, 22, 23, 24, 26, 27, 28, 30, 34, 35, 38, 39, 42, 43, 45, 52, 55, 58, 59, 62, 66, 67, 68, 72, 74, 78, 79, 84, 85, 86, 88, 89, 90, 91, 92, 95, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
# Your code here

if len(set1)==len(set3)+(len(set2)- len(set4)):
    print("True")
else:
    print("False")

True

#### Create an empty set called `set6`.

In [11]:
# Your code here

set6=[]

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here
set6={}

set6=set(set6)
set6.update(set3)
set6.update(set5)

print(set6)
print(len(set6))

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42, 43, 44, 45, 47, 49, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}
80

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here
count=0

for i in set1:
    if i in set6:
        count+=1
        
if count==80:
    print("Set6 equals to Set1")
else:
    print("Set6 is not equal to Set1")

Set6 equals to Set1

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
# Your code here
subset1=set2.issubset(set1)
subset2=set3.issubset(set1)

if subset1==True:
    print("Set1 contains set2.")
else:
    print("Set1 does not contain set2.")
    
if subset2==True:
    print("Set1 contains set3.")
else:
    print("Set1 does not contain set3.")

Set1 does not contain set2.
Set1 contains set3.

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
# Your code here

set_a=set3.union(set4)
set_a=set_a.union(set5)
set_b=set1.union(set2)


count=0
if len(set_a)==len(set_b):
    for i in set_a:
       if i in set_b:
        count+=1
else:
    print("False")
    
if count==len(set_a):
    print("True")

True

#### Using the `pop` method, remove the first element from `set1`.

In [18]:
# Your code here

set1.pop()
            
print(set1)

{1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42, 43, 44, 45, 47, 49, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [19]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference_update(list_to_remove)

print(set1)

{2, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 20, 22, 23, 24, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 42, 43, 44, 45, 47, 52, 53, 54, 55, 56, 58, 60, 62, 63, 64, 66, 67, 68, 72, 73, 74, 78, 80, 82, 83, 84, 85, 86, 88, 90, 92, 93, 95, 96, 97, 98}