## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [47]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [48]:
# Your code here

sample_list_1 = random.sample(range(101), k=80)
print(sample_list_1)

[89, 31, 93, 96, 15, 62, 18, 87, 58, 45, 97, 0, 57, 40, 61, 64, 4, 39, 35, 54, 10, 11, 84, 29, 56, 13, 16, 41, 78, 27, 79, 98, 46, 42, 68, 95, 6, 21, 53, 30, 28, 71, 69, 38, 23, 81, 36, 37, 47, 76, 20, 9, 48, 25, 83, 32, 82, 91, 8, 59, 3, 66, 94, 22, 60, 92, 100, 24, 26, 67, 19, 12, 72, 5, 73, 34, 33, 88, 65, 50]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [49]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [50]:
# Your code here
sample_list_2 = []
for i in range(81):
    elem_to_add = random.randrange(0, 100)
    sample_list_2.append(elem_to_add)
print(sample_list_2)

[59, 71, 37, 97, 77, 62, 89, 77, 51, 54, 83, 97, 35, 55, 34, 11, 73, 68, 28, 72, 51, 40, 41, 6, 49, 89, 10, 60, 93, 12, 42, 52, 63, 18, 17, 46, 43, 49, 82, 82, 33, 50, 47, 34, 16, 11, 57, 73, 28, 61, 64, 86, 35, 45, 76, 39, 88, 86, 0, 20, 94, 10, 19, 66, 71, 94, 46, 69, 79, 65, 82, 63, 64, 52, 50, 45, 31, 21, 97, 41, 27]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [51]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))

{0, 6, 10, 11, 12, 16, 17, 18, 19, 20, 21, 27, 28, 31, 33, 34, 35, 37, 39, 40, 41, 42, 43, 45, 46, 47, 49, 50, 51, 52, 54, 55, 57, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 71, 72, 73, 76, 77, 79, 82, 83, 86, 88, 89, 93, 94, 97}
57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [52]:
# Your code here
set3 = {i for i in set1 if i not in set2}
print(set3)

{3, 4, 5, 8, 9, 13, 15, 22, 23, 24, 25, 26, 29, 30, 32, 36, 38, 48, 53, 56, 58, 67, 78, 81, 84, 87, 91, 92, 95, 96, 98, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [53]:
# Your code here
set4 = {i for i in set2 if i not in set1}
print(set4)

{43, 77, 17, 49, 51, 52, 86, 55, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [54]:
# Your code here
set5 = {i for i in set1 if i in set2}
print(len(set5))

48

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [55]:
# Your code here
len(set1) >= len(set2) >= len(set5) >= len(set3) >= len(set4)

True

#### Create an empty set called `set6`.

In [56]:
# Your code here
set6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [57]:
# Your code here
set6 = []
set6 = set(set6)
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [58]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [59]:
# Your code here
set1_contains_set2 = set2.issubset(set1)
print("Check if set1 contains set2")
print(set1_contains_set2)
set1_contains_set3 = set3.issubset(set1)
print("Check if set3 contains set2")
print(set1_contains_set3)

Check if set1 contains set2
False
Check if set3 contains set2
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [60]:
# Your code here
aggregated_set3_4 = set3.union(set4)
aggregated_set3_4_5 = aggregated_set3_4.union(set5)
print(aggregated_set3_4_5)

aggregated_set1_2 = set1.union(set2)
print(aggregated_set1_2)

print("Are aggregated values are equal:")
aggregated_set3_4_5 == aggregated_set1_2

{0, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 100}
{0, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 100}
Are aggregated values are equal:

True

#### Using the `pop` method, remove the first element from `set1`.

In [62]:
# Your code here
set7 = list(set1)
set1.pop(0)
set7 = set(set1)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [65]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set8 = list(set1)
for i in list_to_remove:
    if i in set8:
        set8.remove(i)
set8 = set(set8)
print(set8)

{3, 4, 5, 6, 8, 10, 12, 13, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 45, 46, 47, 48, 50, 53, 54, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 72, 73, 76, 78, 82, 83, 84, 87, 88, 92, 93, 94, 95, 96, 97, 98, 100}